[Unit]
Description=Træfik is a modern HTTP reverse proxy and load balancer.
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/traefik
ExecStart=/usr/sbin/traefik
Restart=always

[Install]
WantedBy=multi-user.target
